.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(48, 38, 38, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.modal-body > .center {
  padding: 1%;
  width: fit-content;
  text-align: center;
  justify-content: center;
}

.modal-body > .center > div {
  width: fit-content;
  padding: 1%;
}


.modal-header,
.modal-footer {
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.modal-title {
  margin: 0%;
}

.modal-body {
  padding: 1px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
