.diet_buttons {
  margin-top: 1%;
  width: 39%;
  margin-right: 0%;
  margin-left: auto;
}
.diet_body{
  margin-top: 2%;
 margin-left: 0.2%;
 margin-right: 0.2%;
}
.diet_body > .strings{
  margin-left: 2%;
  font-family: 'Arial Narrow Bold', sans-serif;
  color: #063742;
}
.diet_body > .diet_date{
  margin-top: 2%;
  margin-left: 2%;
  padding: 1rem;
}
.diet_body > .add_food > .add_food_btn{
  margin-top: 1%;
  margin-bottom: 1%;
  width: 20%;
  color: white;
  background-color: #69f08a;
  display: inline;
  margin-left: 35%;
  margin-right: 40%;
  padding: 0.1rem;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
}
.diet_body > .add_food > .add_food_btn:hover{
  margin-top: 1%;
  margin-bottom: 1%;
  width: 20%;
  color: white;
  background-color: #3eee6a;
  display: inline;
  margin-left: 35%;
  margin-right: 40%;
  padding: 0.1rem;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
}

.diet_buttons > .diet_buttons_sub {
  width: auto;
  color: white;
  background-color: #063742;
  display: inline;
  margin-left: 1.5em;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
}

.diet_buttons > .diet_buttons_sub:hover {
  width: auto;
  color: white;
  background-color: #0f5a6b;
  display: inline;
  margin-left: 1.5em;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
}