.diet_buttons {
  /* margin-top: 1%; */
  width: 25%;
  margin-right: 0px;
  margin-left: auto;
}
.diet_body{
  margin-top: 2%;
 margin-left: 0.5%;
 margin-right: 0.5%;
}
 .strings{
  /* margin-left: 2%; */
  font-family: 'Arial Narrow Bold', sans-serif;
  color: rgb(55, 57, 80);
  font-weight: 500;
}
.diet_body > .diet_date{
  margin-top: 2%;
  margin-left: 2%;
  padding: 1rem;
}

.diet_buttons > .diet_buttons_sub {
  width: 100px;
  color: rgb(55, 57, 80);
  background-color: #f7f0b0;
  display: inline;
  margin-left: 1.5em;
  padding: 6px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

.diet_buttons > .diet_buttons_sub:hover {
/* font-weight: bold; */
background-color: #fdee61;

}



.form_body{
  margin: 0.2%;
}
.form_body > .form_btn{
  margin: 1%;
}

.add_food_div{
  background-color: #f7f0b0;
  padding: 20px;
  border-radius: 10px;
  margin: 5%;
  
}
.add_btn_diet{
  margin-top: 3%;
 margin-left: 60%;
  margin-right: 0;
}
.add_btn_diet_font{
  color: rgb(55, 57, 80) ;
  font-size: 15px;
  font-weight: 550;
}

.meal_type_select{
  /* margin-left: 17px; */
  
  min-width: 180px;
}
.food_name_select{
  max-width: 300px;
}